* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;


}
.Homepage{
  height: 215.21vh;
  width: 100%;
  /* border: 1px solid red;*/
   background-color: #FFFFFF;
}
.header{
    height: 0.2%;
}
nav{
  display: flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 38.85vh;
  height: 14.09vh;
  margin-left: 20vw;
  top: 2.59vh;
  

}
.nav-links{
  text-align: left;
  flex: 1;
  vertical-align: middle;
 
}


.nav-links ul li {
  list-style: none;
  display: inline-block;
 padding:8px 45px ;
 position: relative;

}
.nav-links a{
   text-decoration: none;
font-size:24px;
color:#083E6F;
}




.nav-links li::after{
  content: '';
  width: 0vh;
  height: 10px;
  background: #1BA7E4;
  display: block;
  margin: auto;
  transition: 0.2s;
}

.nav-links  li:hover::after{
  width: 8vh;
    height: 0.5vh;
    border-bottom-right-radius: 80%;
 
}
.dropdown {
  float: right;
  overflow: hidden;


}
.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color:#083E6F;
  padding: 8px 12px;
  background-color: inherit;
  font-family: Roboto;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 21.89vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 3px solid #f1f1f1;
right: 40px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.form {
  max-width: 300px;
  padding: 20px;
  background-color: white;
  font-family: Roboto;
font-size: 18px;
}
.form h1{
  font-size: 24px;
}
.form input[type=text], .form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
}

.form input[type=text]:focus, .form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the login button */
.form .btn {
  background-color: #083E6F;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-top: 6px;
}

/* Add some hover effects to buttons */
.form .btn:hover {
  opacity: 1;
}
.form a{
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto;
  margin-left: 130px;
  color: #1BA7E4;
}


/*Sign Up*/
input[type=text], input[type=password] {
width: 70%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background:white;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

button {
background-color: #083E6F;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}



.signupbtn {
float: center;
width: 30%;
margin-left: 30px;
}
.modal {
display: none;
position: fixed; 
z-index: 1; 
left: 20%;
top: 25%;
width: 70%; 
height: 70%; 
overflow: auto; 
padding-top: 0px;
background-color: white;
color:#3f3b3b;
}
.modal-content  {
display:flex;
display:inline-block;
position:absolute;
}

.ho{
width:35%;
height:670px;;
position:absolute;
background-color: #1BA7E4;
align-items:left;
align-content: left;
flex:1;
color:white;
font-size: 40px;
text-align: center;
}
.ho img{
margin-left:-150px;
top:500px;
position:absolute;
}
.container{
background-color: #fefefe;
display:inline-block;
margin-left:380px;
position:absolute;
}
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
   width: 100%;
}
}

/*profile page*/
.profile{
  height: 150vh;
  width: 100%;
  background-color:#FFFFFF;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.profile .left_part2{
  background-color:white;
  width:17.5%;
  height:81%;
  left:15%;
  top:9.5%;
  bottom:9.5%;
  vertical-align: center;
  /*border:#000000 solid 1px ;*/
  position:absolute;
}
.profile .right_part2{
  background-color:#FFFFFF;
  width:47.5%;
  height:81%;
  left:37%;
  top:9.5%;
  bottom:9.5%;
  vertical-align: center;
  position:absolute;
  color:#083E6F;
}
.tripshistory {
  width:100%;
  height:7%;
  position: absolute;
  top:5%;
  left:0%;
  background-color:#1BA7E4 ;
  color:#083E6F;
  font-size:100%;
  font-weight: bold;

}
.flyerhistory {
  width:100%;
  height:7%;
  position: absolute;
  top:15%;
  left:0%;
  background-color:#1BA7E4 ;
  color:#083E6F;
  font-size:100%;
  font-weight: bold;

}
.profilebox1{
  height:7%;
  width:100%;
  position:absolute;
  border:#747373 solid 1px;
  top:0%;
  left:0%;
  background-color: #C4C4C4  ;
}
.right_part2 h1{
  left:2.5%;
  top:30%;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  color:#083E6F;
  position: absolute;
}
.profilebox2{
  height:28%;
  width:100%; 
  position:absolute;
  left:0%;
  top:7%;
}
.profilebox3{
  height:7%;
  width:100%;
  position:absolute;
  left:0%;
  top:35%;
  background-color: #C4C4C4  ;

}
.profilebox4{
  height:23%;
  width:100%; 
  position:absolute;
  left:0%;
  top:42%;
}
.profilebox5{
  height:7%;
  width:100%;
  position:absolute;
  left:0%;
  top:65%;
  background-color: #C4C4C4;


}
.profilebox6{
  height:28%;
  width:100%;
  position:absolute;
  left:0%;
  top:72% ;
}
.profile ul{
  left:5%;
  top:10%;
  position: absolute;
  text-align: left;

}
.profile ul li{
  font-style: normal;
  font-weight: lighter;
}
.profile .update1{
  width:15%;
  height:20%;
  left:85%;
  position: absolute;
  background-color: #1BA7E4;
  top:70%;
  color:#083E6F;
  font-size:100%;
  font-weight: bold;

}
.profile .update2 {
  width:15%;
  height:25%;
  left:85%;
  position: absolute;
  background-color: #1BA7E4;
  color:#083E6F;
  top:65%;
  font-size:100%;
  font-weight: bold;
}
.profile .cancel1 {
  width:15%;
  height:20%;
  left:85%;
  top:70%;
  position: absolute;
  background-color:red;
  color:#083E6F;
  font-size:100%;
  font-weight: bold;
  
}

/*Footer*/


.footer{
  height:24.44%;
  /*  border: 1px solid red;*/
  background-color: #343F48;
  color: #FFFFFF;
  
  }
  .footer .footer-content{
  display: flex;
  height: 60%;
  }
  .footer .footer-content .footer-section{
  flex: 1;
  
  
  }
  .footer .footer-content h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 110%;
  line-height: 20%;
  color: #1BA7E4;
  margin-left: 37%;
  margin-right: 30%;
  margin-top: 3%; 
  text-align: left;
  margin-bottom: 4%;
  
  }
  .footer .footer-content .Contactus .social img{
  margin-left:2.5%;
  margin-top: 23%;
  position: relative;
  left: 31%;
  }
  .footer .footer-content .Contactus .social img:hover {
  color: white;
  margin-left: 5%;
  transition: all .3s;
  }
  .footer .footer-content .Contactus .logo img{
  position: absolute;
  width: 20%;
  height: 17%;
  margin-top: 2%;
  margin-left: 15%;
  }
  
  .footer .footer-content .Quicklinks ul{
  text-align:left;
  flex:1;
  
  }
  
  .footer .footer-content .Quicklinks ul a {
  display: block;
  font-family: Roboto;
  transition: all .3s;
  color:white;
  font-size:95%;
  padding-left: 37%;
  text-decoration: none;
  margin-bottom: 1.5%;
  }
  .footer .footer-content .Quicklinks ul a:hover {
  color: white;
  margin-left: 1%;
  transition: all .3s;
  }
  
  
  
  .footer .footer-bottom{
  text-align:left;
  flex:1;
  font-style:normal;
  font-family: Roboto;
  font-size:75%;
  color:white;
  text-align:left;
  list-style: none;
  height: 3%;
  padding-top: 8.5%;
  }
  .footer .footer-bottom li{
  list-style:none;
  display:inline-block;
  padding-left: 18.5%;
  padding-right: 13.5%;
  position:relative;
  }
  